body{
            font-family: Arial;
            background-color: #07a8e3;
            margin: 0;
            padding: 0;
            text-align:center;
        }

        .box {
            width: 700px;
            background: red;
            margin: 30px auto;
            padding: 20px;
            border: 1px solid #881253;
        }
        h1 {
            text-align: center;
            font-size: 28px;
            color: #0e1776;
        }

        h2 {
            font-size: 20px;
            color: red;
            border-bottom: 2px solid #444;;
            padding-bottom: 3px;
        }

        p, li {
            font-size: 15px;
        }

        .photo-box {
            text-align: center;
            margin-bottom: 20px;
        }

        .photo-box img {
            width: 150px;
            height: 180px;
            object-fit: cover;
            border: 2px solid #333333;
            border-radius: 5px;
        }
